  h4{
        text-align: center;
  text-decoration:dotted underline red;
    }
    .d-block{
    height: 400px;
}
#div.coll:hover{
box-shadow: 2px 4px  6px black;
border-radius: 15px;
margin: 10px;

}
.btn btn-sm btn:hover{
    background-color: blue;

}
b{
   padding-top: 10px;
margin-left: 115px;

}
nav{
    margin-bottom: 2px;
}
body{
    background-color: #F9F1F0;
}
photo{
   padding: 5px;
}
  h4{
     text-shadow: 2px 4px 5px black;
  }